@use "../abstract/variaveis";
@use "../abstract/mixins";

.app_background {
  display: flex;
  flex-direction: column;
  padding: variaveis.$padding-padrao;
  background-image: url("../../assets/banner.png"); /* Corrigido */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 20%;
    z-index: 1;
  }

  &::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }

  &::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    color: white;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    z-index: 1000;
    .logo {
      width: 180px;
      height: 50px;
      cursor: pointer;
    }
    .lista__menu {
      display: flex;
      list-style: none;
      align-items: center;
      gap: 1rem;
      @include mixins.ff-fs-fw-cl(
        variaveis.$font-primaria,
        1.2rem,
        500,
        variaveis.$cor-primaria
      );
      cursor: pointer;
    }
    .menu__logo-opcoes {
      display: flex;
      align-items: center;
    }
    .menu__icones {
      display: flex;
      gap: 1rem;
      cursor: pointer;
      .icones__user {
        display: flex;
        align-items: center;
        gap: 0.3rem;
      }
      .icone__opcoes {
        width: 14px;
        height: 14px;
      }
    }
  }
  .container_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    position: relative;
    z-index: 2;
    .descricao_banner {
      @include mixins.ff-fs-fw-cl(
        variaveis.$font-primaria,
        1.4rem,
        600,
        variaveis.$cor-primaria
      );
    }
    .container__banner-botoes {
      display: flex;
      gap: 1.5rem;
      .btn__banner-play {
        @include mixins.ff-fs-fw-cl(
          variaveis.$font-primaria,
          1.4rem,
          600,
          variaveis.$cor-secundaria
        );
        border-radius: 2px;
        border: none;
        position: relative;
        display: flex;
        align-items: center;
        padding: 10px 40px 10px 30px;
        gap: 8px;
        cursor: pointer;
      }
      .btn__banner-play::before {
        content: "";
        position: static;
        background-image: url("../../assets/play.png");
        background-size: contain;
        width: 20px;
        height: 20px;
      }
      .btn__banner-info {
        @include mixins.ff-fs-fw-cl(
          variaveis.$font-primaria,
          1.4rem,
          600,
          variaveis.$cor-primaria
        );
        border-radius: 2px;
        border: none;
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 10px 40px 10px 30px;
        background-color: rgba(128, 128, 128, 0.8);
        cursor: pointer;
      }
      .btn__banner-info::before {
        content: "";
        position: static;
        background-image: url("../../assets/info.png");
        background-size: contain;
        width: 20px;
        height: 20px;
      }
    }
  }
  .descricao__categoria-banner {
    color: white;
    @include mixins.ff-fs-fw-cl(
      variaveis.$font-primaria,
      1.4rem,
      600,
      variaveis.$cor-primaria
    );
    z-index: 1000;
  }
}
.filmes {
  padding: variaveis.$padding-padrao;
  background-color: variaveis.$cor-secundaria;
  @include mixins.ff-fs-fw-cl(
    variaveis.$font-primaria,
    1.4rem,
    600,
    variaveis.$cor-primaria
  );
  .container__filmes {
    display: grid;
    grid-template-rows: 2;

    .descricao__categoria {
      grid-row: 1 / 2;
    }
    .div__filmes {
      grid-row: 2 / 3;
      display: grid;
      grid-template-columns: repeat(5, 351px);
      gap: 8px;
      .-animacao {
        position: relative;
        transition:
          transform 0.3s ease,
          background-color 0.3s ease;
        &:hover {
          transform: scale(1.05);
          margin: 0 5px 0 5px;
          cursor: pointer;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 97%;
            background-color: rgba(255, 0, 0, 0.5);
            pointer-events: none;
          }
        }
      }
    }
  }
}
.footer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding: variaveis.$padding-padrao;
  background-color: variaveis.$cor-secundaria;
  @include mixins.ff-fs-fw-cl(
    variaveis.$font-primaria,
    1rem,
    400,
    variaveis.$cor-primaria
  );
  .icones__rede-social {
    display: inline-block;
    background-image: url("");
  }
  p {
    opacity: 0.7;
  }
  p:hover {
    text-decoration: underline;
    color: white;
    opacity: 1;
    cursor: pointer;
  }
  .div__link-servico {
    margin: 50px 0px;
    .link__servico {
      opacity: 0.7;
      border: solid 1px variaveis.$cor-primaria;
      padding: 10px 10px;
      &:hover {
        cursor: pointer;
        color: variaveis.$cor-primaria;
        opacity: 1;
      }
    }
  }
  .direitos__autorais:hover {
    opacity: 0.7;
    text-decoration: none;
  }
}
